* {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  background-color: #34a1a0;
  padding: 24px;
}
.header {
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}
button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.copybtn {
  height: 30px;
  font: size 10px;
}
.charlength {
  display: flex;
  flex-direction: column;
  color: #fff;
  font: size 20px;
  font-weight: 700;
  padding-bottom: 24px;
}

.charlength span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}
.checkboxes {
  display: grid;
  grid-template-columns: auto auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color-scheme: #fff;
}
.checkboxes div {
  display: flex;
  gap: 5px;
  padding-bottom: 25px;
}
.generateBtn {
  width: 100%;
  font-size: 20px;
  padding: 20px;
}
.error {
  color: red;
  padding-bottom: 5px;
}
.password-strength {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding-bottom: 10px;
}
